<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col class="no-padding" size-sm="6" offset-sm="3" size-md="4" offset-md="4" size-lg="3" offset-lg="4.5" size-xl="3" offset-lg="4.5">
        <ion-toolbar color = "primary">
          <ion-buttons slot="start">
            <ion-back-button defaultHref="/home"></ion-back-button>
          </ion-buttons>
          <ion-title>Logs Riego</ion-title>
        </ion-toolbar>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>

